Repository woowa-techcamp-2020/hkb-10, pull requests merged in 2020-08, with the labels that each got.

#23 PR: README.md 갱신
  README.md
  build.sh
  check.sh
  install.sh
Labels: documentation

#26 PR: History Model 제작
  back/src/apis/index.ts
  back/src/apis/payment-method/getPaymentMethods.ts
  back/src/apis/payment-method/getPaymentMethodsDummy.ts
  back/src/apis/payment-method/index.ts
  front/src/components/History/History.scss
  front/src/components/History/History.ts
  front/src/components/History/HistoryItem.scss
  front/src/components/History/HistoryItem.ts
  front/src/components/History/HistoryList.ts
  front/src/components/History/InputForm.scss
  front/src/components/History/InputForm.ts
  front/src/components/common/Input.ts
  front/src/components/common/Select/Select.ts
  front/src/fetch/getPaymentMethods.ts
  front/src/fetch/index.ts
  front/src/models/HistoryModel.ts
  front/src/models/HistoryModel/Checkbox/CheckboxModel.ts
  front/src/models/HistoryModel/HistoryList/HistoryListModel.ts
  front/src/models/HistoryModel/InputForm/AmountModel.ts
  front/src/models/HistoryModel/InputForm/CategoryModel.ts
  front/src/models/HistoryModel/InputForm/ClassificationModel.ts
  front/src/models/HistoryModel/InputForm/DateModel.ts
  front/src/models/HistoryModel/InputForm/DetailModel.ts
  front/src/models/HistoryModel/InputForm/PaymentMethodModel.ts
  front/src/models/HistoryModel/index.ts
  front/src/models/Observable.ts
Labels: refactoring, view, view-model

#27 PR: 내역 목록 checkbox 옆 총합 계산
  front/src/components/History/History.scss
  front/src/components/History/History.ts
  front/src/components/History/HistoryItem.ts
  front/src/components/History/HistoryList.scss
  front/src/components/History/HistoryList.ts
  front/src/models/HistoryModel/HistoryList/HistoryListModel.ts
Labels: view

#24 PR: 자동 배포 스크립트 추가
  build.sh
Labels: release

#36 fix: 백엔드 api 폴더의 history 폴더를 histories 폴더로 바꿈
  back/src/apis/histories/getDailyHistories.ts
  back/src/apis/histories/getDailyHistoriesDummy.ts
  back/src/apis/histories/getHistories.ts
  back/src/apis/histories/getHistoriesDummy.ts
  back/src/apis/histories/index.ts
Labels: api

#37 PR: 통계페이지 - 꺽은선 그래프
  front/src/app.ts
  front/src/components/Calendar/Calendar.scss
  front/src/components/Calendar/Calendar.ts
  front/src/components/Calendar/Checkboxes.scss
  front/src/components/Calendar/index.ts
  front/src/components/Component.ts
  front/src/components/Main/ChangeMonth.ts
  front/src/components/Statistics/LineGraph.scss
  front/src/components/Statistics/LineGraph.ts
  front/src/components/Statistics/LineGraphFunction.ts
  front/src/components/Statistics/index.ts
  front/src/fetch/dummyData.ts
  front/src/fetch/getDailyHistories.ts
  front/src/fetch/getDailyOutcomes.ts
  front/src/models/CalendarModel.ts
  front/src/models/LineGraphModel.ts
  front/src/models/RootModel.ts
  front/src/router/Router.ts
  front/src/stylesheet/main.scss
Labels: view, view-model

#40 PR: frontend - dotenv 적용
  back/src/apis/index.ts
  front/.gitignore
  front/env/.sample.env
  front/package.json
  front/src/fetch/getDailyHistories.ts
  front/src/fetch/getDailyOutcomes.ts
  front/src/fetch/getHistories.ts
  front/src/fetch/getPaymentMethods.ts
  front/webpack.config.js
  front/yarn.lock
Labels: fetch

#42 PR: Calendar 컴포넌트 안정화
  front/src/components/Calendar/Calendar.ts
  front/src/components/Calendar/Checkboxes.ts
  front/src/components/Calendar/index.ts
Labels: fetch

#43 PR: 내역 수정할 때 카테고리 라벨 이상하게 붙던 것 수정
  back/src/daos/CategoryDAO.ts
  back/src/daos/dto/Category.ts
  front/src/components/History/InputForm.ts
  front/src/models/HistoryModel/InputForm/CategoryModel.ts
  front/src/models/HistoryModel/InputForm/SelectedCategoryModel.ts
  front/src/models/HistoryModel/index.ts
Labels: bug

#48 PR: pie chart 추가
  front/src/components/Statistics/CheckBoxes.ts
  front/src/components/Statistics/PieChart.scss
  front/src/components/Statistics/PieChart.ts
  front/src/components/Statistics/index.ts
  front/src/fetch/PieChartDummyData.ts
  front/src/fetch/getCategoryOutcome.ts
  front/src/models/PieChartModel.ts
  front/src/models/StatisticsPageModel.ts
Labels: view, view-model

#50 PR: 막대형 그래프 제작
  front/src/components/Statistics/StickGraph.scss
  front/src/components/Statistics/StickGraph.ts
  front/src/components/Statistics/index.ts
Labels: view

#51 PR: 통계 페이지 컴포넌트의 뷰에서 fetching 제거
  front/src/components/Statistics/LineGraph.scss
  front/src/components/Statistics/LineGraph.ts
  front/src/components/Statistics/PieChart.ts
  front/src/components/Statistics/StickGraph.scss
  front/src/components/Statistics/StickGraph.ts
  front/src/components/Statistics/index.ts
  front/src/models/LineGraphModel.ts
  front/src/models/PieChartModel.ts
Labels: view-model

#52 PR: 해당하는 경로에서만 model의 변경이 이뤄지도록
  front/src/app.ts
  front/src/components/Calendar/Calendar.ts
  front/src/components/Calendar/Checkboxes.ts
  front/src/components/Calendar/index.ts
  front/src/models/CalendarModel.ts
  front/src/models/HistoryModel/Checkbox/CheckboxModel.ts
  front/src/models/HistoryModel/HistoryList/HistoryListModel.ts
  front/src/models/HistoryModel/InputForm/PaymentMethodModel.ts
  front/src/models/LineGraphModel.ts
  front/src/models/PieChartModel.ts
  front/src/router/Path.ts
  front/src/router/PathConstants.ts
Labels: view-model

#54 PR: 회원가입, 로그인 로직 구현
  back/package.json
  back/src/Server.ts
  back/src/apis/histories/index.ts
  back/src/apis/history/index.ts
  back/src/apis/index.ts
  back/src/apis/login/AuthTokenController.ts
  back/src/apis/login/index.ts
  back/src/apis/login/login.ts
  back/src/apis/payment-method/index.ts
  back/src/apis/signup/index.ts
  back/src/apis/signup/signup.ts
  back/src/config/passport.ts
  back/src/daos/UserDAO.ts
  back/src/shared/functions.ts
  back/yarn.lock
  front/env/.sample.env
  front/src/app.ts
  front/src/components/History/InputForm.ts
  front/src/components/Login/Login.scss
  front/src/components/Login/Login.ts
  front/src/components/Login/index.ts
  front/src/components/Signup/Signup.scss
  front/src/components/Signup/Signup.ts
  front/src/components/Signup/index.ts
  front/src/fetch/deleteHistory.ts
  front/src/fetch/getCategories.ts
  front/src/fetch/getHistories.ts
  front/src/fetch/getPaymentMethods.ts
  front/src/fetch/index.ts
  front/src/fetch/login.ts
  front/src/fetch/postHistory.ts
  front/src/fetch/putHistory.ts
  front/src/fetch/signup.ts
  front/src/models/HistoryModel/InputForm/PaymentMethodModel.ts
  front/src/router/Path.ts
  front/src/utils/getFetchHeaders.ts
Labels: api, database, fetch, view, view-model

#58 PR: 로그아웃 로직 구현, 회원가입 버튼 동작함
  front/src/app.ts
  front/src/components/Login/Login.ts
  front/src/components/Main/Header.scss
  front/src/components/Main/Header.ts
  front/src/models/HistoryModel/HistoryList/HistoryListModel.ts
  front/src/models/LoginModel.ts
  front/src/router/Path.ts
Labels: view, view-model

#59 PR: 프론트엔드 뷰 오류 제거
  front/src/components/Calendar/Calendar.ts
  front/src/components/Login/Login.ts
  front/src/components/Statistics/LineGraph.ts
  front/src/components/Statistics/LineGraphFunction.ts
  front/src/components/Statistics/PieChart.ts
  front/src/components/Statistics/StickGraph.ts
Labels: bug, view

#64 PR: 로그인한 유저 정보 바탕으로 조회, 수정, 삭제를 하기 위하여 DB와 프론트, 백엔드 로직 수정
  back/env/sample.development.env
  back/env/sample.production.env
  back/src/Server.ts
  back/src/apis/histories/categoricalDataMiddleware.ts
  back/src/apis/histories/dailyOutcome.ts
  back/src/apis/histories/getDailyHistories.ts
  back/src/apis/histories/getHistories.ts
  back/src/apis/histories/index.ts
  back/src/apis/history/postHistory.ts
  back/src/apis/history/putHistory.ts
  back/src/apis/payment-method/getPaymentMethods.ts
  back/src/apis/payment-method/getPaymentMethodsDummy.ts
  back/src/daos/HistoryDAO.ts
  back/src/daos/UserDAO.ts
  back/src/services/getCalenderData.ts
  back/src/services/getCategoricalData.ts
  back/src/services/getDailyOutcomes.ts
  front/package.json
  front/src/app.ts
  front/src/components/History/History.ts
  front/src/components/History/HistoryList.ts
  front/src/components/History/InputForm.ts
  front/src/components/Login/Login.ts
  front/src/components/Main/Header.ts
  front/src/fetch/deleteHistory.ts
  front/src/fetch/getCategories.ts
  front/src/fetch/getCategoryOutcome.ts
  front/src/fetch/getDailyHistories.ts
  front/src/fetch/getDailyOutcomes.ts
  front/src/fetch/getHistories.ts
  front/src/fetch/getPaymentMethods.ts
  front/src/fetch/login.ts
  front/src/fetch/postHistory.ts
  front/src/fetch/putHistory.ts
  front/src/fetch/signup.ts
  front/src/models/CalendarModel.ts
  front/src/models/HistoryModel/HistoryList/HistoryListModel.ts
  front/src/models/HistoryModel/InputForm/CategoryModel.ts
  front/src/models/LineGraphModel.ts
  front/src/models/LoginModel.ts
  front/src/models/PieChartModel.ts
  front/tsconfig.json
  front/yarn.lock
Labels: api, database, fetch, view, view-model

#66 Feature/style statistic
  front/src/components/Statistics/CheckBoxes.scss
  front/src/components/Statistics/CheckBoxes.ts
  front/src/components/Statistics/LineGraph.ts
  front/src/components/Statistics/LineGraphFunction.ts
  front/src/components/Statistics/index.ts
Labels: view

#67 fix: 자잘한 내역 수정
  front/src/components/History/History.ts
  front/src/components/History/InputForm.ts
  front/src/models/HistoryModel/Checkbox/CheckboxModel.ts
Labels: bug, view, view-model
